html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Verdana", sans-serif;
  background: #bed094;
  background: linear-gradient(90deg, #bed094, #be8a60, #2e2836);
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
}
/* Cabecera */
header {
  text-align: center;
  width: auto;
  padding: 5px;
  height: 60px;
  background: #6a2e35;
}
.navegacion {
  font-family: "Verdana", sans-serif;
  font-size: x-large;
  color: #cccccc;
}

nav {
  width: auto;
  text-align: center;
  padding: 10px;
  height: 25px;
}
/* Termino Cabecera*/

/* Cuerpo*/
main {
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
/*Cuerpo*/

/* Design menu Juego*/
.caja {
  width: 100%;
  height: 80%;
}

/* Design menu Juego*/
/* Design juego ahorcado*/
div #lienzo {
  width: 80%;
  height: 80%;
}
div#frase {
  border: 2px solid #cccccc;
  padding: 0.5rem;
  text-align: center;
  font-size: xx-large;
}
.erroneas {
  padding-top: 1em;
}

.letrasErroneas {
  margin-top: 1em;
}

.vida {
  margin-top: 1em;
  color: greenyellow;
  font-size: small;
}
.perdiste {
  margin-top: 1em;
  color: red;
  font-size: medium;
}
/* Design juego ahorcado*/
/*Design agregar palabra*/

#nuevapalabrajuego {
  width: 100%;
  resize: none;
  outline: none;
  color: #000000;
  background-color: #ffffff00;
  border: 0;
  font-size: 32px;
  font-family: "Verdana", sans-serif;
}
::placeholder {
  color: #000000;
  font-family: "Verdana", sans-serif;
}
/*Design agregar palabra*/

/*Homologación CAJAS*/
button {
  width: 45%;
  height: 65px;
  margin: 1em 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
  border: 1px solid #6a2e35;
  background: #6a2e35;
  border-radius: 24px;
  transition: 500ms;
}
.caja-2,
.caja-3 {
  width: 100%;
  height: 80%;
  display: none;
}
.centralizacion {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  height: 15%;
  width: 50%;
}
h1 {
  font-size: x-large;
}
.titulo {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5%;
}

.centro {
  margin-top: 2em;
  width: 100%;
  height: 100%;
}

#principal:hover {
  color: #6a2e35;
  background: #cccccc;
  border-radius: 24px;
}

#secundario:hover {
  color: #6a2e35;
  background: #cccccc;
  border-radius: 24px;
}
/*Homologación Cajas*/

/*Homologación Cajas 2 y 3*/

.contenedor {
  width: 70%;
  height: 70%;
  display: inline-block;
}
.contenedormedio {
  padding-top: 0.5em;
  width: 100%;
  height: 10%;
  display: inline-block;
}
.contenedorbajo {
  padding-top: 0.5em;
  width: 100%;
  height: 30%;
  display: inline-block;
}

#boton {
  margin-top: 1.5em;
}
/*Homologación Cajas 2 y 3*/

/*Footer*/
footer {
  text-align: center;
  width: 100%;
  background: #6a2e35;
  position: absolute;
  bottom: 0;
}
.footer-div {
  width: 100%;
}
.copyright {
  display: inline-block;
  height: 75px;
  width: 100%;
}

.copyright p {
  font-size: 12px;
  margin: 1em auto;
  font-weight: bold;
  color: #cccccc;
}
a {
  color: #cccccc;
}
/*Footer*/

/*notificación*/

.swal-button {
  background-color: #6a2e35;
  color: #cccccc;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 70px;
  margin: 0;
  cursor: pointer;
  width: 100%;
}

/*Notificación*/

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .centralizacion {
    width: 100%;
  }

  #principal {
    margin-right: 0.5em;
    width: 332px;
  }

  #secundario {
    margin-left: 0.5em;
    width: 332px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 667px) {
  .centralizacion {
    width: 100%;
    height: 180px;
    max-width: none;
    max-height: none;
  }

  .boton {
    width: 40%;
    display: inline;
  }

  #principal {
    width: 150px;
    margin: 0;
  }

  #secundario {
    width: 150px;
    margin: 1em auto;
  }
}
